@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Playfair+Display&family=Satisfy&display=swap');

body {
  margin: auto;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "main  nav" ;
  background-color: #ECF0EF;
}

h1 {
  font-family: "Playfair Display", Helvetica, sans-serif;
  color: #E2919F;
}

h2 {
  font-family: "Playfair Display", Helvetica, sans-serif;
  color: #E2919F;
}

p,
ul {
  font-family: "Libre Bodini", Georgia, serif;
  color: #828A93;
  list-style-type: circle;
}

.header {
  grid-area: header;
  margin: auto;
  color: #E2919F;
}

main {
  grid-area: main;
  padding: 0px 15px 15px 15px;
  background-color: #F7EAEF;
}

nav {
  grid-area: nav;
  background-color: #FFFFFF;
  padding: 0px 15px 15px 15px;
}

a:link {
  color: #828A93;
}

a:visited {
  color: #5A674E;
}

a:hover {
  color: #E2919F;
}

a:active {
  color: #2E3337;
}
