@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Vollkorn&display=swap');

body {
  background-color: #8FBC8F;
  margin: 0 auto;
  max-width: 800px;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "nav    nav    nav"
    "figure aside  aside"
    "main   main   main"
    "footer footer footer";
}

h2 {
  background-color: #F0942E;
  font-family: "Mukta", Helvetica, sans-serif;
  color: #1E3321;
  padding: 10px;
  margin-top: 0;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  font-family: "Mukta", Helvetica, sans-serif;
  color: #1E3321;
  text-align: center;
}

h3 {
  font-family: "Mukta", Helvetica, sans-serif;
  color: #1E3321;
}

p,
figcaption,
ul {
  font-family: "Vollkorn", Georgia, serif;
  color: #1E3321;
}

table, th, td {
  font-family: "Vollkorn", Georgia, serif;
  color: #1E3321;
  border: 1px solid;
  width: 50%;
  border-collapse: collapse;
  border-color: #1E3321;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  background-color: #F0942E;
  padding: 20px;
  font-family: "Mukta", Helvetica, sans-serif;
  position: sticky;
  top: 0;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  display: block;
  margin-right: 40px;
}


a:link {
  color: #F7F8FB;
}

a:visited {
  color: #108F36;
}

a:hover {
  color: #DE5300;
}

a:active {
  color: #DE1C00;
}

figure {
  grid-area: figure;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
  margin-right: 0;
}

aside {
  grid-area: aside;
  padding-left: 10px;
  padding-right: 10px;
}

main {
  grid-area: main;
  background-color: #B8D6B8;
}

main > section {
  padding: 20px;
}

footer {
  grid-area: footer;
  background-color: #F0942E;
  padding-left: 20px;
}
