@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Lobster+Two&family=Playfair+Display&display=swap');

body {
  margin: auto;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1,
h2 {
  font-family: "Playfair Display", sans-serif;
}

p,
ul {
  font-family: "Libre Bodini", serif;
}
